---
import "../../../styles/global.css";
---
<div class="w-screen relative h-[10vh] bg-[#24152A] max-h-80 flex flex-col justify-center items-center">
    <h1 class="text-[#FFED68]  text-center tracking-normal font-[Dosis] w-fit font-extrabold text-[36px] md:text-[80px] lg:text-[80px] opacity-100">
        Store
    </h1>
</div>